
body {
    background-color: whitesmoke;
  }

.ModificacaoPositiva{
    background-color: #5fde43;
    border-radius: 10px;
}

.ModificacaoNegativa{
    background-color: #de4343;
    border-radius: 10px;
}

.textoCard{
  color: black;
}