#Login{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 20px;
}

#btn_entrar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    max-width: 50%;
    background-color: green;
}
#btn_entrar:hover{
    color: white;
}

#btn_cadastro{
    margin-bottom: 11px;
}


#btn_insta{
    color: indianred;
}

#camposLogin{
    margin-bottom: 20px;
}


#redesSociais{
    margin-bottom: 25px;
}

Button:hover {
    color: inherit;
    text-decoration: none;
   }