.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.modal-body{
    text-align: left;
}

body {
    background-color: pink;
  }
  
